/* TODO cambiar a SCSS */


.inicio .card-inicio .texto-card-footer {
    font-size: 0.9em;
}

.inicio .card-inicio .card-icon {
    font-size: 7em;
}

.inicio .card-inicio .card-header {
    height: 6em;
    max-height: 6em;
    min-height: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio .card-inicio {
    width: 19em;
    min-width: 19em;
    text-align: center;
}

.form-check {
    padding-left: 0;
    padding-right: 0;
}

* {
    transition: all;
    transition-duration: 0.4s;
}

html {
    font-size: 0.5rem;
}

@media (min-width: 576px) {
    html {
        font-size: 0.65rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}