{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Eliminar la sanci칩n</h1>

    <div class="alert alert-danger">
        La sanci칩n "{{ sancion.id }}" ser치 eliminada de la base de datos.
        La operaci칩n no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('sancion_listar') }}" class="btn btn-info">Volver al listado</a>
        <button type="submit" name="confirmar" class="btn btn-danger">Confirmar borrado</button>
    </form>
{% endblock %}