{% extends 'layout.html.twig' %}
{% block title %}Eliminar Comunicación de Parte{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center border rounded bg-danger mb-2 p-1">
        <div>
            <h3 class="text-white text-center">Eliminar la comunicación de parte #{{ comunicacionParte.id }}</h3>
        </div>
    </div>

    <div class="alert alert-danger">
        La comunicación de parte "{{ comunicacionParte.id }}" será eliminada de la base de datos.
        La operación no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('comunicacion_parte_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver
            al listado</a>
        <button type="submit" name="confirmar" class="btn btn-danger"><i class="fa fa-trash"></i> Confirmar borrado
        </button>
    </form>
{% endblock %}