{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Eliminar el tipo de comunicaci칩n</h1>

    <div class="alert alert-danger">
        El tipo de comunicaci칩n "{{ tipoComunicacion.id }}" ser치 eliminado de la base de datos.
        La operaci칩n no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('tipo_comunicacion_listar') }}" class="btn btn-info">Volver al listado</a>
        <button type="submit" name="confirmar" class="btn btn-danger">Confirmar borrado</button>
    </form>
{% endblock %}