{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Listado de todos los tipos de comunicaciones</h2>
        </div>
        <div>
            <a href="{{ path('tipo_comunicacion_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo tipo de comunicación</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Descripción</th>
                <th>Curso Académico</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for tipoComunicacion in tiposComunicaciones %}
                <tr>
                    <td>{{ tipoComunicacion.descripcion }}</td>
                    <td>{{ tipoComunicacion.cursoAcademico }}</td>
                    <td>
                        <a href="{{ path('tipo_comunicacion_modificar', {'id': tipoComunicacion.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay tipos de comunicaciones</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
