{% extends 'layout.html.twig' %}
{% block title %}Listado de Cursos Académicos{% endblock %}
{% block content %}
    <div class="row p-1">
        <div class="col-12 col-lg-7 justify-content-start p-0">
            <h4>Listado de todos los cursos académicos</h4>
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center p-0">
            <a href="{{ path('curso_academico_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo curso académico</a>
        </div>
    </div>

    <div class="row p-1">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th class="align-middle">Descripción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for curso_academico in pagination %}
                <tr>
                    <td class="align-middle">{{ curso_academico.descripcion }}</td>
                    <td class="align-middle">
                        <a href="{{ path('curso_academico_modificar', {'id': curso_academico.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="align-middle">No hay cursos académicos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

